@page "/about"
@inject SchoolContext _context;

<h2>Student Body Statistics</h2>

<Loading When="Data == null">

    <table>
        <tr>
            <th>
                <Label For="() => Data.EnrollmentDateGroups[0].EnrollmentDate" />
            </th>
            <th>
                <Label For="() => Data.EnrollmentDateGroups[0].StudentCount" />
            </th>
        </tr>

        @foreach (var item in Data.EnrollmentDateGroups)
        {
            <tr>
                <td>
                    @item.EnrollmentDate?.ToString("d")
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
    </table>

</Loading>

@code {
    public Result Data { get; private set; }

    protected override async Task OnInitializedAsync()
    {
        Data = new Result
        {
            EnrollmentDateGroups = await _context
                .Students
                .GroupBy(x => x.EnrollmentDate)
                .Select(x => new Result.EnrollmentDateGroup
                {
                    EnrollmentDate = x.Key,
                    StudentCount = x.Count()
                })
                .ToArrayAsync()
        };
    }

    public class Result
    {
        public EnrollmentDateGroup[] EnrollmentDateGroups { get; set; }

        public class EnrollmentDateGroup
        {
            [DisplayName("Enrollment Date")]
            [DataType(DataType.Date)]
            public DateTime? EnrollmentDate { get; set; }

            [DisplayName("Students")]
            public int StudentCount { get; set; }
        }
    }
}