<div class="form-group">
    <DisplayLabel For="For" />
    <InputText @bind-Value="value" />
</div>

@code {
    [Parameter] public Expression<Func<object>> For { get; set; }

    private string _;

    private string value
    {
        get => For?.ToString() ?? String.Empty;
        set => _ = value;
    }
}