@page "/departments"
@inject IMediator _mediator

<h2>Departments</h2>

<Loading When="Data == null">

    <p>
        <a href="/departments/create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    <Label For="() => Data[0].Name" />
                </th>
                <th>
                    <Label For="() => Data[0].Budget" />
                </th>
                <th>
                    <Label For="() => Data[0].StartDate" />
                </th>
                <th>
                    <Label For="() => Data[0].AdministratorFullName" />
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Data)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Budget.ToString("C")
                    </td>
                    <td>
                        @item.StartDate.ToString("d")
                    </td>
                    <td>
                        @item.AdministratorFullName
                    </td>
                    <td>
                        <a href="/departments/edit/@item.Id">Edit</a> |
                        <a href="/departments/details/@item.Id">Details</a> |
                        <a href="/departments/delete/@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</Loading>

@code {
    public List<Model> Data { get; private set; }

    protected override async Task OnInitializedAsync()
        => Data = await _mediator.Send(new Query());

    public class Query : IRequest<List<Model>>
    {
    }

    public class Model
    {
        public string Name { get; set; }

        public decimal Budget { get; set; }

        public DateTime StartDate { get; set; }

        public int Id { get; set; }

        [DisplayName("Administrator")]
        public string AdministratorFullName { get; set; }
    }

    public class MappingProfile : Profile
    {
        public MappingProfile() => CreateMap<Department, Model>()
            .ForMember(
                dest => dest.AdministratorFullName, 
                opt => opt.MapFrom(src => src.Instructor.FullName)
            );
    }

    public class QueryHandler : IRequestHandler<Query, List<Model>>
    {
        private readonly SchoolContext _context;
        private readonly IConfigurationProvider _configuration;

        public QueryHandler(SchoolContext context,
            IConfigurationProvider configuration)
        {
            _context = context;
            _configuration = configuration;
        }

        public Task<List<Model>> Handle(Query message,
            CancellationToken token) => _context.Departments
                .Include(x => x.Instructor)
                .ProjectTo<Model>(_configuration)
                .DecompileAsync()
                .ToListAsync(token);
    }
}
