<label>@label</label>

@code {
    [Parameter] public Expression<Func<object>> For { get; set; }

    private string label => GetDisplayName();

    private string GetDisplayName()
    {
        MemberExpression forMember;

        if (For.Body is MemberExpression memberExpression) forMember = memberExpression;
        else if (For.Body is UnaryExpression unaryExpression && unaryExpression.Operand is MemberExpression unaryMemberExpression)
            forMember = unaryMemberExpression;
        else throw new InvalidOperationException("Must be an expression terminating in a member");

        var value = forMember.Member.GetCustomAttribute(typeof(DisplayNameAttribute)) as DisplayNameAttribute;
        return value?.DisplayName ?? forMember.Member.Name;
    }
}